
#add-button{
    border-radius: 100px;
}
btn.important-button:active,
btn.important-button:hover{
    border-radius: 100px;
    background-color: crimson;
    color: black;
}
.fa-plus{
    font-size: 80px;
}
.top-buffer{
    margin-top: 1em;
}

.btn.top-buffer.for-table{
    margin-top: 0;
}

.fas.fa-heart{
    color: crimson;
}

.for-align{
    text-align: right;
}
